@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>我的日历</title>
    <link rel="stylesheet" href="~/themes/default/easyui.css" />
    <link rel="stylesheet" href="~/themes/icon.css" />
    <link rel="stylesheet" href="~/Styles/bootstrap.css" />
    <link rel="stylesheet" href="~/Styles/style.css" />
    <link rel="stylesheet" href="~/Styles/myclndr.css" />

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/clndr.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/myclndr.js"></script>
</head>
<body>
    <form>
        <div class="box-wrap">
            <header role="banner" id="fh5co-header" style="background-image:url('/img/header.jpg')">
                <div class="container">
                    <nav class="navbar navbar-default" style="background:rgba(0,0,0,0)">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fh5co-navbar-brand">
                                    <span class="logo"><a href="/PersonalSchedule/Index">日程中心</a></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="nav text-center">
                                    <li><a href="/PersonalSchedule/Cal">我的日历</a></li>
                                    <li><a href="/EventCentre/NewEvent">创建活动</a></li>
                                    <li><a href="/Search/Index">搜索活动</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul class="social">
                                    <li>
                                        <a href="/Search/Home">
                                            <img src="/img/user/@Session["login_id"]_.png" onerror="imgThisErrorSrc(this,'/img/default/default-user-0.png')" class="my-img-round" alt="(。・`ω´・)" width="48" height="48" />
                                            <span class="user-name">@Session["login_name"]</span>
                                        </a>
                                    </li>
                                    <li><a href="/PersonalSchedule/Index"><span class="glyphicon glyphicon-log-in" id="logout_btn">返回</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="container">
                <div class="cal1">
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        // Here's some magic to make sure the dates are happening this month.
        var thisMonth = moment().format('YYYY-MM');
        // Events to load into calendar
        var cal_output_json = '@ViewBag.cal_output_json';
        console.log(cal_output_json);
        console.log(html_decode(cal_output_json));
        var eventArray = JSON.parse(html_decode(cal_output_json));
        console.log(JSON.stringify(eventArray));
        executeMyClndr(eventArray);
    </script>
</body>
</html>